In [9]:
#Import necessary modules.
import pymongo
from pymongo import MongoClient
import pandas as pd
import numpy as np

In [2]:
td= MongoClient("mongodb://Sindhu:mongodb23@ac-lpx6ty7-shard-00-00.oxlfove.mongodb.net:27017,ac-lpx6ty7-shard-00-01.oxlfove.mongodb.net:27017,ac-lpx6ty7-shard-00-02.oxlfove.mongodb.net:27017/?ssl=true&replicaSet=atlas-lngsgq-shard-0&authSource=admin&retryWrites=true&w=majority")

In [10]:
#Create a database using attribute style on a MongoClient instance.
#Declare a variable db and assign the new database as an attribute of the client.

client = pymongo.MongoClient("mongodb://localhost:27017")
db = client["task_guvi"]
print(db)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'task_guvi')

In [11]:
#Create a collection.
mycollection = db["telephonedirectory"]
print(mycollection)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'task_guvi'), 'telephonedirectory')

In [15]:
#For CRUD operation, create a directory which has fields like Name, Phone number, Place etc.,    
#Insert the record into the collection.

document = {'name':"sindhu", 
            "phone no": 9096757739,
            "place": "coimbatore"}
mycollection.insert_one(document)
    
document1 = [{"Name":"Vivek","Phone no":9921945661,"place":"chennai"},
                 {"Name":"Magesh","Phone no":9960665556,"place":"salem"},
                 {"Name":"Sarath","Phone no":6584635247,"place":"goa"},
                 {"Name":"Vikas","Phone no":7975684967,"place":"kerala"},
                 {"Name":"Shakshi","Phone no":9568458012,"place":"ooty"}
                 ]
    
mycollection.insert_many(document1)

In [16]:
#Make a query to find records you just created.
    
all_records = mycollection.find()
print(all_records)
for row in all_records:
    print(row)

<pymongo.cursor.Cursor object at 0x00000181BB27F220>
{'_id': ObjectId('63752befeafbf026e9511029'), 'name': 'sindhu', 'phone no': 9096757739, 'place': 'coimbatore'}
{'_id': ObjectId('63752bf0eafbf026e951102a'), 'Name': 'Vivek', 'Phone no': 9921945661, 'place': 'chennai'}
{'_id': ObjectId('63752bf0eafbf026e951102b'), 'Name': 'Magesh', 'Phone no': 9960665556, 'place': 'salem'}
{'_id': ObjectId('63752bf0eafbf026e951102c'), 'Name': 'Sarath', 'Phone no': 6584635247, 'place': 'goa'}
{'_id': ObjectId('63752bf0eafbf026e951102d'), 'Name': 'Vikas', 'Phone no': 7975684967, 'place': 'kerala'}
{'_id': ObjectId('63752bf0eafbf026e951102e'), 'Name': 'Shakshi', 'Phone no': 9568458012, 'place': 'ooty'}

In [28]:
#Modify the records, use the update_one() method. The update_one() method requires two arguments, query and update.
prev = {"Name": "Sarath"}
nextt= {'$set': {"Name": "Srini"}}
mycollection.update_one(prev,nextt)

In [29]:
all_records = mycollection.find()
print(all_records)
for row in all_records:
    print(row)

<pymongo.cursor.Cursor object at 0x00000181BC771FA0>
{'_id': ObjectId('63752befeafbf026e9511029'), 'name': 'sindhu', 'phone no': 9096757739, 'place': 'coimbatore'}
{'_id': ObjectId('63752bf0eafbf026e951102b'), 'Name': 'Magesh', 'Phone no': 9960665556, 'place': 'salem'}
{'_id': ObjectId('63752bf0eafbf026e951102c'), 'Name': 'Srini', 'Phone no': 6584635247, 'place': 'goa'}
{'_id': ObjectId('63752bf0eafbf026e951102d'), 'Name': 'Vikas', 'Phone no': 7975684967, 'place': 'kerala'}
{'_id': ObjectId('63752bf0eafbf026e951102e'), 'Name': 'Shakshi', 'Phone no': 9568458012, 'place': 'ooty'}

In [26]:
#Delete the record, use delete_one() method. delete_one() requires a query parameter which specifies the document to delete.
mycollection.delete_one({"Name":"Vivek"})

In [30]:
all_records = mycollection.find()
print(all_records)
for row in all_records:
    print(row)

<pymongo.cursor.Cursor object at 0x00000181BC771EE0>
{'_id': ObjectId('63752befeafbf026e9511029'), 'name': 'sindhu', 'phone no': 9096757739, 'place': 'coimbatore'}
{'_id': ObjectId('63752bf0eafbf026e951102b'), 'Name': 'Magesh', 'Phone no': 9960665556, 'place': 'salem'}
{'_id': ObjectId('63752bf0eafbf026e951102c'), 'Name': 'Srini', 'Phone no': 6584635247, 'place': 'goa'}
{'_id': ObjectId('63752bf0eafbf026e951102d'), 'Name': 'Vikas', 'Phone no': 7975684967, 'place': 'kerala'}
{'_id': ObjectId('63752bf0eafbf026e951102e'), 'Name': 'Shakshi', 'Phone no': 9568458012, 'place': 'ooty'}